@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: all 200ms ease;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}